{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
     ["react-app", { "absoluteRuntime": false }],
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
